@(userForm: Form[User], accForm: Form[Account])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add a User</h1>
    
    @helper.form(routes.CoffeesController.save()) {
        
        <fieldset>
        
            @inputText(userForm("name"), '_label -> "Nazwa użytkownika")
            @inputText(userForm(""), '_label -> "Price")
            @inputText(userForm("sales"), '_label -> "Sales")
            @inputText(userForm("total"), '_label -> "Total")

            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this coffee" class="btn primary"> or 
            <a href="@routes.CoffeesController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}