@(userForm: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add a User</h1>
    
    @helper.form(routes.UsersController.save()) {
        
        <fieldset>
        
            @inputText(userForm("name"), '_label -> "Nazwa użytkownika")
            @inputText(userForm("position"), '_label -> "Stanowisko")

            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this user" class="btn primary"> or 
            <a href="@routes.UsersController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}