@( accForm: Form[Account], compId: Long)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add a User</h1>
    
    @helper.form(routes.UsersController.save(compId)) {
        
        <fieldset>
        
            @inputText(accForm("name"), '_label -> "Nazwa użytkownika")
            @inputText(accForm("email"), '_label -> "Email")
            @inputPassword(accForm("password"), '_label -> "Hasło")
            @inputText(accForm("position"), '_label -> "Stanowisko")

            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this user" class="btn primary"> or 
            <a href="@routes.UsersController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}