@(pk: Long, userForm: Form[Account])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit User</h1>
    
    @form(routes.UsersController.update(pk)) {
    
        <fieldset>
        
            @inputText(userForm("name"),  '_label -> "Nazwa użytkownika")
            @inputText(userForm("email"), '_label -> "Email")
            @inputPassword(userForm("password"), '_label -> "Hasło")
            @inputText(userForm("position"), '_label -> "Stanowisko")
            @select(
                userForm("permission"), options("NormalUser" -> "Użytkownik", "Administrator" -> "Admin"),
                 
                '_label -> "", '_default -> "-- Ustaw prawa --"    
            )

          
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Zapisz" class="btn primary"> albo
            <a href="@routes.UsersController.list()" class="btn">Anuluj</a> 
        </div>
        
    }
    
    @form(routes.UsersController.delete(pk), 'class -> "topRight") {
        <input type="submit" value="Usuń" class="btn danger">
    }
    
}